/* This will not be used as the main build, instead it will be used as the community build */
* {
font-family: arial;
}
body {
background-color: #f0f0f0
}
.border {
  border-radius: 25px;
  width: auto;
  height: auto;
  border: 5px;
  border-style: solid;
  border-color: #000000;
  padding: 20px;
}
button {
  border: none;
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.dark {
color: white;
background-color: #1a1a1a;
}
.primary {
color: black;
background-color: cornflowerblue;
}
/* .dark:hover {
background-color: #1f1f1f;
}
.primary:hover {
background-color: #6da3de;
} */
button:hover {
background-opacity: 50%;
}
button:focus {
border-style: inset;
}
