/* This will not be used as the main build, instead it will be used as the community build */
* {
font-family: arial;
}
body {
background-color: #f0f0f0
}
#border {
  border-radius: 25px;
  width: 200px;
  border: 5px;
  border-color: black;
  height: 200px;  
  padding: 20px; 
}
